{% extends "base.njk" %}

{% block title  %}
<div class="row">
    <div class="col-12 border-bottom mb-4 pb-3">
        <h1 class="text-info">{{ title }}</h1>
        <h4 class="text-dark">{{ year }} • {{ client }}</h4>
    </div>
</div>

{% endblock %}
