
<footer class="bg-light mt-5 pt-4">
    <div class="container">
        <div class="row pt-3">
        {% for category, pages in collections %}
            {% if category != "all" %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h5 class="text-dark font-weight-bold">{{ category | capitalize }}</h5>
                <ul class="list-unstyled">
                    {%- for page in pages | reverse -%}
                        <li>
                            <a href="{{ page.url }}" class="text-primary">
                                {{ page.data.title }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <p><small>&copy; 1997—2019 Mark McLaughlin</small></p>
            </div>
        </div>
    </div>
</footer>