<footer class="container-fluid" data-theme="dark">
    <div class="container">
        <nav class="grid">
            <p>
                <small>
                    {{ resume.basics.summary }}
                </small>
            </p>
            <aside></aside>
        </nav>
    </div>
</footer>