<nav class="container">
    <ul>
        <li>
            <strong>
                {{ resume.basics.name }}
            </strong>
        </li>
    </ul>
    <ul>
        <li>
            <small>
                <a href="#work-experience">Work</a>
            </small>
        </li>
        <li>
            <small>
                <a href="#awards">Awards</a>
            </small>
        </li>
        <li>
            <small>
                <a href="#references">References</a>
            </small>
        </li>
    </ul>
</nav>