<nav class="container" id="top">
    <ul>
        <li>
            <strong>
                {{ resume.basics.name }}
            </strong>
        </li>
    </ul>
    <menu>
        {% for key, value in resume %}
            {% if key not in["$schema", "basics"] %}
                <li>
                    <small>
                        <a href="#{{ key }}">{{ key | capitalize }}</a>
                    </small>
                </li>
            {% endif %}
        {% endfor %}
    </menu>
</nav>