<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ resume.basics.name }}">
        <meta name="description" content="{{ resume.basics.summary }}">
        <title>{{ title }}</title>
        {%- if env.environment == "prod" %}
            <script defer data-domain="mark.mclaughlin.me.uk" src="https://plausible.io/js/plausible.js"></script>
        {%- endif %}
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    </head>
    <body>
        <header>
            <h1>{{ resume.basics.name  }}</h1>
            <p id="summary">{{ resume.basics.summary | trim }}</p>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>
            © <time>{{ page.date | formatDate("YYYY") }}</time>
                <span rel="author">{{ resume.basics.name }}</span>
            </p>
            <ul>
                {% for profile in resume.basics.profiles %}
                    <li>
                        <a href="{{ profile.url }}" rel="me">{{ profile.network }}</a>
                    </li>
                {% endfor %}
            </ul>
        </footer>
    </body>
</html>