<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ resume.basics.name }}">
        <meta name="description" content="{{ resume.basics.summary }}">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    </head>
    <body class="bg-slate-50">
        <main class="container lg:px-12 md:px-8 px-4">
            {{ content | safe }}
        </main>
    </body>
</html>