@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Emoji&display=swap");

:root {
  --color-primary: #0078d4;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-primary);
}

h2,
h3 {
  font-size: 0.85rem;
  margin: 0.5rem 0 0 0;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

mark {
  background-color: #f8f8a8;
}

body {
  line-height: 1.333rem;
  font-size: 0.85rem;

  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  text-transform: lowercase;
  background-color: whitesmoke;

  @media (min-width: 992px) {
    padding: 2rem 3rem;
    max-width: 40vw;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 2rem 2rem;
    max-width: 60vw;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    padding: 2rem 1rem;
    max-width: 80vw;
  }

  @media (max-width: 575px) {
    padding: 2rem1rem;
    max-width: 100vw;
  }

  p#summary {
    &:after {
      margin-left: -0.45rem;
      color: var(--color-primary);
      content: "_";
      animation: cursor-blink 1.5s steps(2) infinite;
    }
  }

  section {
    &#projects dl {
      column-count: 2;
      column-width: 50%;
      dt {
        text-transform: uppercase;
        font-weight: 600;
        column-span: all;
      }
    }
    margin-top: 4rem;
    h2 {
      font-size: 1.7rem;
      font-family: "Noto Emoji";
      color: var(--color-primary);
      margin: 0;
    }
    time {
      color: #808080;
    }
    &#work {
      dt {
        margin-left: 3.05rem;
      }
    }
    dt {
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 1.5rem;
    }
    li,
    /* flex to separate date and */
    dd {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 0;
      a {
        color: #0078d4;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    /** add unicode to show external link icon */
    a[href^="https://"]
    {
      &:after {
        padding-left: 0.125rem;
        margin-top: 1rem;
        content: "↗";
        font-size: 1.125rem;
        &:hover {
          text-decoration: none;
        }
      }
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}
