<IfModule mod_mime.c>
    AddType application/json                     map
    AddCharset utf-8                             map
    AddCharset utf-8                             css
</IfModule>

<IfModule mod_headers.c>
    Header unset Expires
    Header always set X-Content-Type-Options nosniff
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                               "access plus 1 year"
    ExpiresByType text/cache-manifest            "access plus 0 seconds"
    <Files "favicon.ico">
        ExpiresByType image/x-icon               "access plus 1 hour"
    </Files>
</IfModule>