---
layout: index.njk
---
h1 Mark McLaughlin

h2 Summary

p.lead
    | I'm an experienced design leader with over 20 years background creating user
    | interfaces for web, mobile web, native applications and consumer electronics.

p
    | During that time I've collaborated with designers, artists, product managers and
    | developers to deliver compelling and user-friendly applications for almost every
    | consumer electronics platform and mode of interaction - whether it's phones,
    | tablets, desktop PC's, augmented reality, smart TV's or game consoles.

p
    | Starting off as a self-taught designer I've been fortunate enough to have a
    | career that's shipped products that have solved problems as diverse as
    | entertaining hordes of teenage pop fans, helping millions of iPad users
    | communicate with their loved ones, and most recently, enabling NASA to
    | collaborate with astronauts on the International Space Station.

h2 Experience

h3 Microsoft

h4 DesignOps Manager, Developer Division
P 
    | Faciliating DesignOps best practices across the 25 designers working on the
    | Visual Studio for Windows, Mac and VSCode developer products. Creating shared
    | tools leveraging Figma and Python to increase automation and reduce duplication
    | of efforts, allowing designers to focus more on solving customer problems,
    | rather than reinventing interfaces.

//
    #### Senior Design Manager, Azure DevOps

    Managed a team of 8 across Raleigh, NC and Redmond, WA; Introduced briefs,
    process and design systems to a legacy product team, including adoption of Figma
    and shared team component libraries. Piloted usage of Figma across Microsoft,
    including speaking and sharing best practices at internal events, facilitating
    over 1,000 users within the Visual Studio, Windows, and Azure product teams to
    move to one centralised design tool.

    #### Senior Designer, Gaming & Entertainment

    Lead designer on Skype for Xbox One based on the Universal Windows Platform.
    Designed and prototyped detailed proposals for integrated Skype sharing and
    streaming experiences in a future Xbox OS.

    #### Senior Design Manager, Partner Experiences

    Relocated to the USA as design manager for Skype for HoloLens and Windows
    companion experience; Integrated Skype client for Windows 10; Lync integration
    into Office 365. Researched and defined revised presence model for Skype
    consumer & enterprise.

    ### Skype

    #### Design Lead, Mobile & Platform

    Grew the team from 3 to 12 across London, Palo Alto, Tallinn and Moscow. Design
    manager for Skype clients on iPhone, iPad, Android, BlackBerry, MeeGo, webOS as
    well as carrier specific clients for Verizon and KDDI. Designed and shipped
    first Skype mobile video clients on Nokia N900 and iPhone 3GS; work featured in
    Apple’s 2010 iOS 4.0 keynote.

    #### Interaction Designer, Consumer Electronics

    Interaction designer for original Skype mobile and consumer electronics clients,
    partnering with Sony, Intel, Panasonic, Samsung, LG, Asus and Philips for
    embedded hardware, TV and cordless phone products. Designed first tablet client
    for Nokia N800, and first integrated Skype experience for 3 Skypephone.

    ### 3

    #### Web Developer

    Designer for customer facing self-care applications (“My 3”) on mobile and web,
    as well as retailer customer acquisition tools.

    ### ARTISTdirect, Inc

    #### Webmaster, Artist presence

    Web designer role in Los Angeles, developing official artist and e-commerce
    sites for Korn, Rage Against The Machine, Backstreet Boys, STEPS, Monty Python,
    Indigo Girls, Mercury Rev, Long Beach Dub Allstars and Kenny G.

    ### Tamar

    #### Web Designer, Corporate Clients

    Junior web designer for corporate and legal clients, including UK blue-chip
    firms Endsleigh Insurance and J Sainsbury plc

    ### Wick Hill Group

    #### Support Technician

    In-house technical support looking after LAN, desktop and
    printer management for a local software distributor.
