:body {
  font-family: "Source Sans Pro", sans-serif;
  font-display: swap;
}
h1,
h2,
h3,
.navbar-brand {
  font-family: $font-family-sans-serif;
  font-display: swap;
}
h3 {
  font-size: 1.66rem;
}
h4 {
  font-size: 1.33rem;
}
h5 {
  font-size: 1rem;
}
.navbar-brand {
  font-size: 1.66em;
}
h5,
p,
p.lead {
  font-weight: 400;
}
.text-primary {
  color: #0078d4;
}
