$font-family-sans-serif: "Source Sans Pro", -apple-system, system-ui,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: "Playfair Display", Georgia, "Times New Roman", Times, serif !default;

$headings-font-family: $font-family-serif !default;
