<div class="container-fluid bg-light">
  <div class="container">
    <div class="row mt-5 pt-md-5 pt-4">
      <div class="col-12">
        <h3 class="text-center">Collaborators</h3>
      </div>
    </div>
    <div class="row pb-lg-5 pb-4">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">
          {# Render multiple columns if there are more than 6 people listed #}
          {% if collaborators.length >= 6 %}
            {% for person in collaborators %}
              <div class="col-lg-4 col-md-6 col-sm-6 text-center" style="color: #666;">
                {{ person }}
              </div>
            {% endfor %}
          {% else %}
            {# Render a single list if there are less than 6 people listed #}
            <div class="col">
              <ul class="list-unstyled text-center">
                {% for person in collaborators %}
                  <li style="color: #666;">{{ person }}</li>
                {% endfor %}
              </ul>
            </div>  
          {% endif %}
        </div> <!-- /row -->
      </div> <!-- col-lg-8 -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /container-fluid -->
