<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msvalidate.01" content="F8C0C6BEC77E84BF82D9248561A9E3F6" />
    <meta name="description" content="{{ abstract }}">
    {% set absoluteUrl %}{{ page.url | url | absoluteUrl('https://markmclaughlin.info') }}{% endset %}

    {% include '_favicon.njk' %}
    {% include '_google-analytics.njk' %}

    <link rel="canonical" href="{{ absoluteUrl }}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:900%7CSource+Sans+Pro:300,400&display=swap" />
    <script src="/js/lazysizes.min.js" async=""></script>

    <link rel="stylesheet" href="/css/google-fonts.css" />
    <link rel="stylesheet" href="/css/typeset.css" />
    <link rel="stylesheet" href="/css/parallax.css" />

    {% include '_structured-data.njk' %}

    <title>{{ title }}</title>
  </head>
  <body>
    {% include "header.njk" %}
        {% block title %}
        {% endblock %}
        {{ content | safe }}
        {% block footer %}
        {% endblock %}
    <!-- //container -->
    {% include "footer.njk" %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>