<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msvalidate.01" content="F8C0C6BEC77E84BF82D9248561A9E3F6"/>
    <meta name="description" content="{{ abstract }}">
    {% set absoluteUrl %}{{ page.url | url | absoluteUrl('https://markmclaughlin.info') }}{% endset %}

    {% include '_favicon.njk' %}
    {% include '_social.njk' %}

    {# 
      Only include Plausible.io tracking if we're in production environment 
    #}

    {% if env.environment == "prod" %}
      <script async defer data-domain="markmclaughlin.info" src="https://plausible.io/js/plausible.outbound-links.js"></script>
      <script>
        window.plausible = window.plausible || function () {
          (window.plausible.q = window.plausible.q || []).push(arguments)
        }
      </script>
    {% endif %}
    <link rel="canonical" href="{{ absoluteUrl }}"/>

    <link rel="stylesheet" href="/css/main.scss">

    {# 
      Set CORS to anonymous if we're in production environment 
    #}

    {% set cors = "anonymous" if env.environment == "prod" else "invalid"%}

    <script src="https://kit.fontawesome.com/c4674e1253.js" crossorigin="anonymous"></script>
    <script src="/js/lazysizes.min.js" async crossorigin="{{ cors }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    {% include '_structured-data.njk' %}

    <title>{{ title }}</title>
  </head>
  <body>
    {% include "header.njk" %}
    {% block title %}{% endblock %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% block footer %}{% endblock %}
    <!-- //container -->
    {% include "footer.njk" %}
  </body>
</html>