<footer class="bg-dark mt-0 pt-4">
    <div class="container">
        <div class="row py-3">
            <div class="col-xl-3 pb-4">
                <p class="text-white"><small>{{ site.description }}</small></p>
            </div>
        {% for category, pages in collections %}
            {% if category != "all" and category != "projects" %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" role="navigation" aria-labelledby="category-{{ category | slug}}">
                <h5 class="text-white font-weight-bold" id="category-{{ category | slug }}">{{ category | capitalize }}</h5>
                <ul class="list-unstyled">
                    {%- for page in pages | reverse -%}
                        <li>
                            <small>
                                <a href="{{ page.url }}" class="text-white">
                                    {{ page.data.title }}
                                </a>
                            </small>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="container-fluid bg-black">
        <div class="container">
            <div class="row" role="contentinfo">
                <div class="col-12 text-left text-white pt-3">
                    <p>
                    <small>
                        &copy; 1997—2020 Mark McLaughlin
                    </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>