
<footer class="bg-light mt-5 pt-4">
    <div class="container">
        <div class="row pt-3">
        {% for category, pages in collections %}
            {% if category != "all" %}
            <div class="col-lg-3 col-md-4 col-sm-6" role="navigation" aria-labelledby="category-{{ category | slug}}">
                <h5 class="text-dark font-weight-bold" id="category-{{ category | slug }}">{{ category | capitalize }}</h5>
                <ul class="list-unstyled">
                    {%- for page in pages | reverse -%}
                        <li>
                            <small>
                                <a href="{{ page.url }}" class="text-secondary">
                                    {{ page.data.title }}
                                </a>
                            </small>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row" role="contentinfo">
            <div class="col-12 text-left">
                <p>
                <small>
                    &copy; 1997—2020 Mark McLaughlin
                    •
                    <a href='&#109;a&#105;&#108;to&#58;mar&#107;&#64;%&#54;&#68;cl&#37;&#54;1u%&#54;&#55;h%6C&#37;&#54;&#57;n&#46;&#37;6De%&#50;Eu%6B'>&#109;ark&#64;mcl&#97;ughlin&#46;me&#46;uk</a>
                </small>
                </p>
            </div>
        </div>
    </div>
</footer>