<nav class="navbar navbar-light fixed-top navbar-expand-sm bg-white shadow-sm" role="banner" aria-label="Main navigation">
    <div class="container">
            <a class="navbar-brand text-dark" href="/index.html" aria-label="Return to homepage">Mark McLaughlin</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link 
                        {%- if ("resume" not in page.url) and ("timeline" not in page.url) and 
                    ("patents" not in page.url) %} active{% endif %}" href="/">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "resume" in page.url %}active{% endif %}" aria-label="Resumé" href="/resume">Resumé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "timeline" in page.url %}active{% endif %}" href="/timeline" aria-label="Timeline of work">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "patents" in page.url %}active{% endif %}" href="/patents" aria-label="List of patents">Patents</a>
                </li>
                <li class="nav-item">
                    <a class="ml-2 btn btn-outline-primary" href="/about">Contact</a>
                </li>
            </ul>
        </div>
</nav>