---
title: All projects
eleventyExcludeFromCollections: true
---
{% extends "base.njk" %}

{% block title %}
    </div>
    {% for page in collections.all | reverse  %}
        {% if page.data.hero %}
            <div class="jumbotron jumbotron-fluid m-0" 
                style="background-image: url({{page.data.hero}}); 
                       background-size: cover;
                       background-repeat: no-repeat;
                       min-height: 100vh;
                       background-position: center;
            ">
            </div>
                <div class="container align-bottom">
                    <div class="card bg-white rounded p-3 border-0">
                    <h2 class="display-4"><a href="{{page.url}}" class="text-info">{{page.data.title}}</a></h3>
                    <p class="lead">{{ page.data.abstract }}</p>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
    <div class="container m-0">
{% endblock %}