---
title: Portfolio of Mark McLaughlin
eleventyExcludeFromCollections: true
---
{% extends "base.njk" %}

{% block title %}
    {% for page in collections.all | reverse  %}

        <!-- HERO if first in collection -->

        {% if loop.index == 1 %}
            <div class="row mt-4">
                <div class="col-lg-12">
                    <a href="{{page.url}}">
                        <picture>
                        {% set size = ["xl", "l", "m", "s"] %}
                        {% for breakpoint in [1200, 992, 768, 576] %}
                          <source 
                            srcset="/assets/hero/{{page.data.client | slug}}/{{page.data.title | slug}}_{{size[loop.index0]}}.jpg"
                            media="(min-width: {{ breakpoint }}px)">
                         {% endfor %}
                        <img class="img-fluid w-100" src="/assets/hero/{{page.data.client | slug}}/{{page.data.title | slug}}_m.jpg" alt="Preview of {{page.data.title}}, designed for {{page.data.client}}."/>
                        </picture>
                    </a>
                    <h2 class="mt-4"><a href="{{page.url}}" class="text-info">{{page.data.title}}</a></h2>
                    <p class="lead">{{ page.data.abstract }}</p>
                </div>
            </div>
        {% endif %}

        <!-- open and close second level -->

        {% if loop.index == 2%}
            <div class="row mt-4 mb-4">
        {% endif %}
        {% if loop.index == 2 or loop.index == 3 %}
            <div class="col-lg-6 col-md-6">
                <a href="{{page.url}}">
                    <img class="img-fluid w-100" src="{{page.data.hero}}" alt="{{page.data.title}}" />
                </a>
                <h3 class="mt-4"><a href="{{page.url}}" class="text-info">{{page.data.title}}</a></h3>
                <p class="text-secondary lead">{{ page.data.abstract }}</p>
            </div>
        {% endif %}
        {% if loop.index == 3 %}
            </div>
        {% endif %}

        <!-- open and close second level -->
        {% if loop.index == 4%}
        <div class="row">
        {% endif %}
        {% if loop.index >= 4 %}
            <div class="col-lg-4">
                <a href="{{page.url}}">
                    <img class="img-fluid w-100" src="{{page.data.hero}}" alt="{{page.data.title}}" />
                </a>
                <h4 class="mt-4"><a href="{{page.url}}" class="text-info">{{page.data.title}}</a></h4>
                <p class="text-secondary">{{ page.data.abstract }}</p>
            </div>
        {% endif %}
        {% if loop.index == 7 %}
        </div> <!-- // row -->
        {% endif %} 
    {% endfor %}
{% endblock %}