---
title: All projects
eleventyExcludeFromCollections: true
---
{% extends "base.njk" %}

{% block title %}
<div class="row">
    {% for page in collections.all | reverse  %}
        {% if page.data.tags  %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4">
                        {% if page.data.thumbnail %}
                            {% set thumbnail = page.data.thumbnail %}
                        {% else %}
                            {% set thumbnail = page.data.media[0] %}
                        {% endif %}
                    <a href="{{ page.url }}">
                        <img class="card-img-top" src="/assets/thumbnails/{{thumbnail}}" />
                    </a>
                    <div class="card-body">
                        <h3 class="card-title"><a href="{{ page.url }}" class="text-info">{{ page.data.title}}</a></h3>
                        <h5 class="card-sub-title text-secondary">
                            {{ page.data.client }}
                            {% if page.data.partner %}
                            <code>×</code> {{ page.data.partner}}
                            {% endif %}
                        </h5>
                        <p class="card-text">{{ page.data.abstract }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}