---
eleventyExcludeFromCollections: false

layout: article.njk
title: Azure DevOps
client: Microsoft
date: 2018-06-08
abstract: Design manager for Azure DevOps design system and feature development, introducing Figma to Microsoft.
headline: Design systems for developer services
collaborators:
 - Giorgia Paolini
 - Jared Bauer
 - Hemant Kumar
 - Inayaili de León Persson
 - John Lea
 - Marisa Parker
 - Miguel Solorio
 - Vinicius Depizzol
 - Zari Salimnejad
text:
  - During the transition of the Visual Studio Team Services product to the
    rebranded Azure DevOps suite, I managed the team that oversaw the roll
    out of a refreshed design system and feel, building on Microsoft's Fabric
    framework.
  - Taking the opportunity of the rebrand, we worked with our engineering 
    and product management stakeholders across Raleigh, San Francisco, Seattle
    and Hyderabad to enumerate the typical stock screens and scenarios that
    were common throughout the suite, in order normalize and bring coherency
    to the individual product workflows.
thumbnail:
  - thumbnail-0365.png
media:
  - devops-pipeline.png
  - devops-save-run.png
tags: 
 - desktop
---

.container
  .row.mt-5.mb-0
    .col-lg-8.offset-lg-4
      h3 Everything is a list, sort of.
      p 
        | One of the key discoveries during the exploration phase of the project
        | was that almost everything in the product operated on the concept of
        | a list or collection of objects - be they bugs, files, work items or
        | test cases. 

  .row.mt-4.mb-4
    .col-lg-12
      img(src="/img/projects/microsoft/devops-tables.png" class="img-fluid shadow")

  .row.mt-4.mb-4
    .col-lg-8.offset-lg-4
      p
        | As a result, the team took particular care in defining every known
        | scenario in the product for tabular data, and especially defining
        | accessibile and visually differentiated styles for each type of 
        | object to be used throughout the different parts of the product.


  .row.mt-4.mb-4
    .col-lg-8.offset-lg-4
      h3 Building and maintaining the content
      p 
        | During the development and implementation of the design system, we 
        | took advantage of the recent acquisition of GitHub to create an open 
        | backlog that allowed designers from all our locations to make requests
        | and ask questions asynchronously - and there are no stupid questions -
        | with a dedicated designer helping triage and understand requirements.

  .row.mt-4.mb-5
    .col-lg-8.offset-lg-4
      img(src="/img/projects/microsoft/codex-github.png" class="img-fluid shadow-sm")


  .row.mt-5.mb-1
    .col-lg-8.offset-lg-4
      h3 Centralising design components 

      p 
        | With the rollout of the design system, I took the opportunity to standardise
        | the team on use of Figma as our source of truth, helping reduce the amount of
        | time wasted by designers replicating known specifications by constantly 
        | redrawing the interface of the product in their own personal design systems
        | in Sketch, Adobe XD or even Visio.

  .row.mt-1.mb-4
    .col-lg-8.offset-lg-4
      img(src="/img/projects/microsoft/codex-design-system.png" class="img-fluid shadow-sm")

  .row.mt-4.mb-4
    .col-lg-8.offset-lg-4
      p 
        | As the first design org at Microsoft to adopt Figma for a shipping product, our use of
        | Team Libraries in a distributed team was groundbreaking within the company. As
        | part of our learning, I personally helped introduce Figma to multiple design
        | teams across Redmond and beyond, by running workshops and brown bag sessions for
        | designers of all abilities across Azure, Windows and Office teams. 
        
      p 
        | As of 2019, our initial Figma deployment of 80 editors has now scaled to 
        | 4,000 active editors across various Microsoft design organisations. 