---
permalink: "hardware/smart-tv/panasonic/index.html"
dynamicPermalink: false
eleventyNavigation:
  key: Panasonic VIERA
  parent: Projects

layout: article.njk
title: Panasonic VIERA
client: Skype
partner: Panasonic
date: 2010-05-18
abstract: Skype design partner contact for Panasonic’s R&D team in Osaka, Japan.
headline: Integrating remote control design
text:
  - The core efforts were to update their bespoke television UI to fit the Skype 
    branding, iconography and color schemes while considering how the remote 
    control soft-keys could be mapped to frequently used actions within the app.
thumbnail:
  - thumbnail-panasonic.png
media:
  - panasonic-video-call.jpg
collaborators:
 - Helen Blackburn
 - Jill Tolan
 - Simon Wilson
tags: hardware
---

.container
    .row.mt-5.mb-5
      .col-lg-12
        hr
    .row.mt-4.mb-4
        .col-lg-3
            h3 Marketing
            p To my delight, Panasonic also created this fabulously bonkers promotional video for the app. I don't think my work has had a more exotic soundtrack.
        .col-lg-8.offset-lg-1
            .embed-responsive.embed-responsive-16by9.mb-5
                iframe(
                    src="https://www.youtube.com/embed/JnJJj9Ogh7U", 
                    class="embed-responsive-item"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    )

