---
layout: base.njk
eleventyComputed:
    title: "{{resume.basics.name }}"
---
{% macro timespan(start, end) %}
    <div class="text-sm font-semibold text-slate-600 inline">
        {% if start %}
            <time datetime="{{ start | formatDate("YYYY-MM-DD") }}">
                {{- start| formatDate("MMMM YYYY") -}}
            </time> —
            {% endif %}
        {% if end %}
            <time datetime="{{ end | formatDate("YYYY-MM-DD") }}">
            {{ end | formatDate("MMMM YYYY") }}
        </time>
    {% else %}
        <span class="text-slate-600">Present</span>
    {%- endif -%}
</div>
{% endmacro %}

{% include "resume/work.njk" %}
{% include "resume/awards.njk" %}
{% include "resume/projects.njk" %}