---
layout: base.njk
eleventyComputed:
    title: "{{resume.basics.name }}"
---

{% macro brand(glyph) %}
    <i class="fa-brands fa-{{ glyph | slugify }}"></i>
{% endmacro %}

{% macro solid(glyph) %}
    <i class="fa-solid fa-{{ glyph | slugify }}"></i>
{% endmacro %}

{% include "_header.njk" %}
{% include "resume/work.njk" %}