---
title: Portfolio of Mark McLaughlin
eleventyNavigation:
  key: Projects
---
{% extends "base.njk" %}

{% from "helpers/lazysizes.njk" import picture %}

{% block title %}
    {% set mobile = "d-xs-block d-sm-block d-md-none d-lg-none" %}
    {% set tablet = "d-none d-md-block d-lg-block" %}
    <div class="container mt-5 pt-3">
        <div class="row mt-4">
            {% for page in collections.projects | reverse  %}
            <!-- Hero  -->
                {% if loop.index == 1%}
                    {% set classes = "col-md-12 mb-4" %}
                    {% set width = 1200 %}
                {% elif loop.index == 2 or loop.index == 3  %}
                    {% set classes = "col-md-6 mb-4" %}
                    {% set width = 800 %}
                {% elif loop.index >= 4  %}
                    {% set classes = "col-lg-4 col-md-6 mb-3" %}
                    {% set width = 400 %}
                {% endif %}
                <div class="{{ classes }}">
                    <a href="{{page.url}}index.html">
                        {{ picture(page.data.title, page.data.client, width ) }}
                    </a>
                    {% if loop.index == 1 %}
                        <h2 class="mt-4 {{tablet}}">
                            <a href="{{page.url}}" class="text-info">{{page.data.title}}</a>
                        </h2>
                        <p class="{% if loop.index == 1%}lead{% endif %} text-secondary {{tablet}}">{{ page.data.abstract }}</p>
                        <h3 class="mt-4 {{mobile}}">
                            <a href="{{page.url}}" class="text-info">{{page.data.title}}</a>
                        </h3>
                        <p class="text-secondary {{mobile}}">{{ page.data.abstract }}</p>
                    {% else %}
                        <h3 class="mt-4"><a href="{{page.url}}" class="text-info">{{page.data.title}}</a></h3>
                        <p class="text-secondary">{{ page.data.abstract }}</p>
                    {% endif %}
                </div>
            <!-- // hero -->
            {% endfor %}
        </div>
    </div> <!-- // row -->
</div> <!-- container -->
{% endblock %}