---
layout: base.njk
title: Patents
eleventyExcludeFromCollections: true
---

.container.mt-5.pt-3
    .row
        .col-12.border-bottom.mt-4.mb-4.pb-3
            h2.text-info Patents

            p.lead.text-secondary Over the course of my career, I have been engaged as either the sole inventor or co-inventor on a number of novel innovations related to communications, user interfaces and location-aware content, many of which have subsequently been granted both in the United States and the United Kingdom.

    .row.mt-5
        .col-lg-4
            h3 Distributing Presence Information
            h4 
                a(href="https://patents.google.com/patent/US8473545") US8473545
            p.text-secondary Setting your IM availability, based on your calendar.

        .col-lg-8
            p A method of distributing availability information from a first user terminal to at least one further user terminal connected via a communication network, comprising: 
            ul 
                li executing a communication client at the first user terminal; 
                li the communication client accessing schedule data stored on a storage means relating to a user of the first user terminal; 
                li the communication client analysing the schedule data to determine a current status of the user; 
                li mapping the current status of the user to a selected one of a group of predefined availability settings at the communication client; 
                li and transmitting a message comprising the selected availability setting over the communication network to the at least one further user terminal.

            p.lead 
                
    .row.mt-5
        .col-lg-4
            h3 Indicia of contact viewing activity
            h4
                a(href="https://patents.google.com/patent/US9258511B2") US9258511B2
            p.text-secondary Watch TV shows together across platforms.

        .col-lg-8
            p.lead Embodiments include a television appliance configured to display a selected on-screen viewing activity, and a client application.
            p The client application is configured to maintain a list of contacts and allow a user of the media appliance to establish communication events with contacts via a network interface and packet-based network.
            p The client application is further configured to receive a machine-readable data item via the network interface and packet-based network from a television appliance of one or more of said contacts, the machine-readable data item indicating a current television channel being viewed by the respective contact.
            p In at least some embodiments, the client application may control operation of said user's television appliance in relation to the contact's television appliance based on the data item.

    .row.mt-5
        .col-lg-4
            h3 Logging communication events

            h4 
                a(href="https://patents.google.com/patent/US20110201313A1") US20110201313A1
            p.text-secondary A location-enabled phone log.

        .col-lg-8
            p A user terminal comprising: a positioning system arranged to detect a geographical location of the user terminal; a transceiver for communicating with other user terminals via a communication network; and a communication processing apparatus coupled to the transceiver and positioning system. 
            p The communication processing apparatus is arranged to detect communication events occurring via the transceiver and communication network in relation to other user terminals, and to maintain a log of the communication events. 
            p Further, the communication processing apparatus is configured to organize the log in dependence on a geographical location detected by the positioning system.

    .row.mt-5
        .col-lg-4
            h3 Switching between user devices during a VoIP call

            h4 
                a(href="https://patents.google.com/patent/GB2479180A") GB2479180A
            p.text-secondary Transferring calls between home electronics devices.

        .col-lg-8
            p.lead The invention allows a user to switch between devices during a call whilst maintaining a consistent user identity, but without having to log-out or re-dial. 
            p The system comprises a first user device and at least a second user device for the same user, at least one of the devices being a household media appliance, e.g. television or set-top box (STB), and each being installed with a respective instance of a communication client application, e.g. VoIP client, for conducting voice or video calls over a packet-based network. 
            p Each instance is associated with the same user identifier, with the first of the instances being associated with a first sub-identifier and a second of the instances being associated with a second sub-identifier. 
            p The instances are configured so as, during an ongoing call between the first user device and a remote user device conducted over a first network connection established using the user identifier and the first sub-identifier, after the call has been answered, to establish a second network connection using the user identifier and the second sub-identifier and to switch the call to the second network connection.

    .row.mt-5
        .col-lg-4
            h3 Location information in a communications system

            h4 
                a(href="https://patents.google.com/patent/US9565261B2/") US9565261B2
            p.text-secondary Using location and timezones in communications apps.

        .col-lg-8
            p A method of communicating location information relating to a first user of a first communication client from a first user terminal over a communications system to a second user terminal, the first user terminal executing the first communication client and the second user terminal executing a second communication client, the method comprising:
            ul 
                li the second communication client displaying a list of contacts associated with a second user of the second communication client, the list of contacts comprising a first contact representing the first user; 
                li the first user terminal determining a location of the first user; 
                li the first user terminal storing the determined location in a store of the first user terminal; 
                li the first communication client reading the stored location from the store; 
                li the first communication client generating a message comprising a visual indication of the location read from the store; 
                li transmitting the message from the first user terminal to the second user terminal; 
                li and displaying the visual indication of the location on the second user terminal in the contact list in association with the first contact.