---
layout: base.njk
title: Mark McLaughlin
eleventyNavigation:
    key: Resumé
---

// DevDiv      

.container.mt-5.pt-3
    .row
        .col-12.border-bottom.mt-4.mb-4.pb-2
            h2.display-4.text-info Professional Experience

    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 Microsoft

    .row.mb-4
        .col-lg-2
            p.text-secondary
                |  2022 — Present

        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Principal Design Director
            h5.text-secondary
                | Visual Studio Core

        .col-lg-7.col-md-8
            p.lead 
                | Design director for the Visual Studio family of developer
                | tools, including Visual Studio 2022, Visual Studio Code and 
                | Visual Studio for Mac.

            p
                | Managing multiple distributed teams of designers and
                | design engineers to create coherent and elegant  
                | experiences across the Microsoft developer cloud.

    .row.mb-4
        .col-lg-2
            p.text-secondary
                |  2021 — 2022

        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Principal Design Manager
            h5.text-secondary
                | Developer Division

        .col-lg-7.col-md-8
            p.lead 
                | Formed a team of Subject Matter Experts and 
                | Design Technologists to optimise the developer experience 
                | for the Visual Studio and Azure product lines across 
                | Windows 11, macOS and Electron-based technologies.

            p
                | Optimised tooling, libraries, documentation and contributed
                | directly to the product code to ensure that products aligned 
                | to the original design intent, while adapting gracefully to 
                | the personalization and accessiblity needs of our end users.


    .row.mb-4
        .col-lg-2
            p.text-secondary
                |  2018 — 2021

        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Principal Design Manager
            h5.text-secondary
                | Developer Division

        .col-lg-7.col-md-8
            p.lead 
                | Initiated DesignOps best practices across over 40 
                | designers working in Redmond and remote locations on Visual 
                | Studio for Windows, Mac and VSCode developer products. 

            p   
                | Created shared tools leveraging Figma, Vue and Python to increase 
                | automation and reduce duplication of efforts, allowing designers 
                | to focus more on solving customer problems, rather than 
                | reinventing interfaces.

    // Azure DevOps
        
    .row.mb-4
        .col-lg-2
            p.text-secondary.mt-1
                | 2017 — 2018

        .col-lg-3.col-md-4
            h4.text-dark
                | Senior Design Manager

            h5.text-secondary
                | Azure DevOps

        .col-lg-7.col-md-8
            p.lead
                | Managed a team of 8 across Raleigh, NC and Redmond, WA; Introduced 
                | briefs, process and 
                a(href="/developer/azure-devops") design systems 
                | to a legacy product team, 
                | including adoption of Figma and shared team component libraries. 
                
            p
                | Piloted usage of Figma across Microsoft,  including speaking and 
                | sharing best practices at internal events, facilitating over 1,000
                | users within the Visual Studio, Windows, and Azure product teams 
                | to move to one centralised design tool.

    // Skype @ Microsoft

    .row.mb-4
        .col-lg-2
            p.text-secondary.mt-1
                | 2016
        .col-lg-3.col-md-4
            h4.text-dark
                | Senior Designer
            h5.text-secondary 
                | Gaming &amp; Entertainment
        .col-lg-7.col-md-8
            p.lead
                | Lead designer on #[a(href='/hardware/xbox-one/') Skype for Xbox One]
                | based on the Universal Windows Platform.
                
            p    
                | Designed and prototyped detailed proposals for integrated Skype sharing and
                | streaming experiences in a future Xbox OS.

    .row.mb-4
        .col-lg-2
            p.text-secondary.mt-1
                | 2014 — 15
        .col-lg-3.col-md-4
            h4.text-dark
                | Senior Design Manager
            h5.text-secondary
                | Partner Experiences
        .col-lg-7.col-md-8
            p.lead
                | Relocated to the USA as design manager for Skype's experiences 
                | within partner applications, notably #[a(href='/hardware/hololens/') HoloLens],
                | #[a(href='/mobile/windows-10/') Windows 10]
                | and 
                | #[a(href='/enterprise/office-365') Office 365].
            p   
                | Shipped the first release of Skype for HoloLens including unique
                | scenarios for NASA as part of their "Project Sidekick" initiative.
            p   
                | Researched and defined 
                | #[a(href='/mobile/presence/') revised presence model] for Skype
                | consumer &amp; enterprise applications.

    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 Skype

    .row.mb-4
        .col-lg-2
            p.text-secondary
                | 2010 — 13

        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Design Lead
            h5.text-secondary
                | Mobile &amp; Platform

        .col-lg-7.col-md-8
            p.lead
                | Design manager for Skype clients on  #[a(href='/mobile/ios/iphone/') iPhone], 
                | #[a(href='/mobile/ios/ipad/') iPad], Android,
                | #[a(href='/mobile/windows-phone-7/') iPhone], BlackBerry,
                | MeeGo, 
                | #[a(href='/mobile/webos/') webOS] as well as carrier-specific clients for Verizon
                | and KDDI.
            p
                | Grew the team from 3 to 12 across London, Palo Alto, Tallinn and Moscow. 
                
            p
                | Designed and shipped first Skype mobile video clients on Nokia N900 and 
                | iPhone 3GS; work featured in Apple’s 2010 iOS 4.0 keynote.

    // Skype

    .row.mb-4
        .col-lg-2
            p.text-secondary.mt-1
                |  2006 — 2010
        .col-lg-3.col-md-4
            h4.text-dark
                | Interaction Designer
            h5.text-secondary
                | Consumer Electronics
        .col-lg-7.col-md-8
            p.lead
                | Interaction designer for original Skype mobile and consumer electronics 
                | clients, partnering with 
                | Sony,  #[a(href='/mobile/intel/') Intel], 
                | #[a(href='/hardware/smart-tv/panasonic/') Panasonic],
                | Samsung,
                | #[a(href='/hardware/smart-tv/lg/') LG] and 
                | #[a(href='/hardware/philips/') Philips ]
                | for embedded hardware, TV and cordless phone products
            p   
                | Filed #[a(href='/patents/') multiple patents] for new and 
                | novel ways for people to have shared experiences in a living room environment.

            p   
                | Designed first Skype tablet client for #[a(href='/mobile/maemo/nokia-n800/') Nokia N800]
                | and first integrated Skype experience for #[a(href='/mobile/brew/3-skypephone/') 3 Skypephone]

    // 3

    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 3

    .row.mb-4
        .col-lg-2
            p.text-secondary
                |  2001 — 2005
        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Web Developer
            h5.text-secondary
                | My 3
        .col-lg-7.col-md-8
            p.lead
                | Designer for customer facing self-care applications (“My 3”) on 
                | mobile and web,  as well as retail kiosk-based customer
                | acquisition tools.

    // ARTISTdirect

    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 ARTISTdirect

    .row.mb-4
        .col-lg-2
            p.text-secondary
                | 1999-2001

        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Webmaster
            h5.text-secondary
                | Artist Presence
        .col-lg-7.col-md-8
            p.lead
                | Web designer role in Los Angeles, developing official artist and e-commerce
                | sites for 
                a(href="/artists/korn") Korn
                | , 
                a(href="/artists/rage-against-the-machine") Rage Against The Machine
                | , 
                a(href="/artists/backstreet-boys") Backstreet Boys, 
                | STEPS, 
                a(href="/artists/monty-python") Monty Python, 
                a(href="/artists/indigo-girls") Indigo Girls, 
                a(href="/artists/mercury-rev") Mercury Rev, 
                a(href="/artists/long-beach-dub-allstars") Long Beach Dub Allstars 
                | and 
                a(href="/artists/kenny-g") Kenny G.
                
    // Tamar

    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 Tamar

    .row.mb-4
        .col-lg-2
            p.text-secondary
                |  1998-1999
        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                |  Web Designer
            h5.text-secondary
                | Corporate Clients
        .col-lg-7.col-md-8
            p.lead
                | Web designer for corporate and legal clients, including UK blue-chip
                | firms Endsleigh Insurance and J Sainsbury plc

    // Wick Hill
    .row
        .col-lg-12.border-bottom.mb-4.pb-2
            h3 Wick Hill

    .row.mb-4
        .col-lg-2
            p.text-secondary
                | 1992-1998
        .col-lg-3.col-md-4
            h4.text-dark.mt-1
                | Support Technician
            h5.text-secondary
                | In-house

        .col-lg-7.col-md-8
            p.lead
                | In-house technical support looking after LAN, desktop and
                | printer management for a local software distributor.

    // Education & Recognition

    .row.mt-5
        .col-12.border-bottom.mb-4.pb-2
            h2.text-info Education &amp; Recognition

    .row.mb-2
        .col-lg-1.col-md-4
            p.text-secondary 1990-92
        .col-lg-5.col-md-8
            h4.mb-1 Woking College
            h5 Computer Science, Design

        .col-lg-1.col-md-4
            p.text-secondary 2012
        .col-lg-5.col-md-8
            h4.mb-1  Webby Awards
            h5 Winner: Social, Tablet and other devices (“Skype for iPad”)

    .row.mb-2
        .col-lg-1.col-md-4
            p.text-secondary 1999
        .col-lg-5.col-md-8
            h4.mb-1  US Citizenship and Immigration Services
            h5 O-1 Alien of Extraordinary Ability

        .col-lg-1.col-md-4
            p.text-secondary 2012
        .col-lg-5.col-md-8
            h4.mb-1  Webby Awards
            h5 People's Voice Winner (“Skype for iPad”)

    .row.mb-2
        .col-lg-1.col-md-4
            p.text-secondary 1999
        .col-lg-5.col-md-8
            h4.mb-1  Recording Industry Assocation of America
            h5 Platinum sales award, (Korn, “Follow The Leader”)

        .col-lg-1.col-md-4
            p.text-secondary 2013
        .col-lg-5.col-md-8
            h4.mb-1  Apple
            h5 Most downloaded free iPad app of all time (“Skype for iPad”)


    .row.mb-2
        .col-lg-1.col-md-4
            p.text-secondary 1999
        .col-lg-5.col-md-8
            h4.mb-1  Recording Industry Assocation of America
            h5 Best Artist Site, (“Rage Against The Machine”)

        .col-lg-1.col-md-4
            p.text-secondary 2016
        .col-lg-5.col-md-8
            h4.mb-1  NASA
            h5 “HoloSkype” used on the ISS as part of Project Sidekick.

    .row.mb-5
        .col-lg-1.col-md-4
            p.text-secondary 2008
        .col-lg-5.col-md-8
            h4.mb-1 GSMA Global Mobile Awards
            h5 Best Mobile Handset or Device (“
                | 3 Skypephone
                | ”)

        .col-lg-1.col-md-4
            p.text-secondary 2017—18
        .col-lg-5.col-md-8
            h4.mb-1 Out of Office Hours
            h5 Selected for mentoring designers new to the tech industry.