<h2 id="awards">Awards</h2>
{% for group in resume.awards | batch(3) %}
    <div class="grid grid-cols-3 grid-flow-row auto-rows-max mt-8 gap-8">
        {% for award in group %}
            <section 
                id="{{award.awarder | slugify }}-{{ award.date | formatDate("YYYY")}}" 
                class="drop-shadow-xl px-8 py-8 bg-white rounded-lg"
            >
                <hgroup>
                    <h4 class="font-semibold text-slate-700 text-xl text-center">
                        {{ award.title }}
                    </h4>
                    <h5 class="text-slate-500 font-normal text-center">
                        {{ award.awarder }} • 
                        <time datetime="{{ award.date | formatDate("YYYY-MM-DD")}}">
                            {{ award.date | formatDate("YYYY")}}
                        </time>
                    </h5>
                </hgroup>
                <summary>
                    <p class="text-body text-slate-600 mt-2 hanging-punctuation">{{award.summary}}</p>
                </summary>
            </section>
        {% endfor %}
    </div>
{% endfor %}