<h2 id="awards">Awards</h2>
{% for group in resume.awards | batch(2) %}
    <div class="grid">
        {% for award in group %}
            <!-- {{ award.awarder }}: {{ award.title }} ({{ award.date | formatDate("YYYY")}}) -->
            <section id="{{award.awarder | slugify }}-{{ award.date | formatDate("YYYY")}}" class="award">
                <span>
                    {% if award.awarder == "RIAA" %}
                        {{ solid("record-vinyl") }}
                    {% else %}
                        {{ brand(award.awarder) }}
                    {% endif %}
                </span>
                <hgroup>
                    <h4>
                        {{ award.title }}
                    </h4>
                    <h5>
                        {{ award.awarder }} • <time datetime="{{ award.date | formatDate("YYYY-MM-DD")}}">{{ award.date | formatDate("YYYY")}}</time>
                    </h5>
                </hgroup>
                <p>{{award.summary}}</p>
            </section>
        {% endfor %}
    </div>
{% endfor %}

{{ back_to_top() }}