<h2 id="projects">Selected Projects</h2>
<section id="projects">
    {% for group in resume.projects | batch(2) %}
        <div class="grid">
            {% for project in group %}
                <div>
                    <hgroup>
                        <h4>
                            {{ project.name }}
                        </h4>
                        <h5>
                            {{ project.entity }} • <a href="{{project.url}}">{{ project.url | host }}</a>
                        </h5>
                    </hgroup>
                    <summary>
                        <p>{{ project.description }}</p>
                    </summary>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
{{ back_to_top() }}