<h2 id="references">References</h2>
{% for reference in resume.references %}
    <!-- {{ reference.name }} -->
    <figure id="reference--{{ reference.name | slugify }}">
        <blockquote>&ldquo;{{ reference.reference }}&rdquo;</blockquote>
        <figcaption>
                — <cite>{{ reference.name }}</cite>
        </figcaption>
    </figure>
{% endfor %}

{{ back_to_top() }}