<h2 id="work-experience">Work Experience</h2>
{% for work in resume.work %}
  <section id="{{ work.name | slugify }}" class="mt-8 mb-4 lg:w-2/3">
    <aside>
      {% if work.name != name %}
        <h3 class="font-semibold text-m uppercase tracking-tight text-blue-600 inline-block mt-4 pt-4">{{ work.name }}</h3>
      {% endif %}
      <h4 class="font-semibold text-slate-700 text-xl">
        {{ work.position }} • <span class="text-slate-500 font-normal">{{ work.description }}</span>
      </h4>
      {{ timespan(work.startDate, work.endDate) }}
      {% if work.location %}
      • <address class="inline not-italic text-slate-600 text-sm">{{ work.location }}</address>
      {% endif %}
    </aside>
    <summary>
      <p class="my-2">{{ work.summary }}</p>

      {% if work.highlights %}
        <ul class="list-disc text-slate-500 my-4 pl-8">
          {% for highlight in work.highlights %}
            <li>
              {{ highlight }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </summary>
  </section>
  {% set name = work.name %}
{% endfor %}