<h2 id="work-experience">Work Experience</h2>
{% for work in resume.work %}
    <section 
        id="{{work.name | slugify }}--{{work.description | slugify}}" 
    >
        <h3>{{ work.position }}, {{ work.name }}
            {{ work.description }}</h3>
        <p>{{ work.summary }}</p>
        {% if work.highlights%}
            {% for highlight in work.highlights %}
                <blockquote>
                    <p>{{highlight}}</p>
                </blockquote>
            {% endfor %}
        {% endif %}
    </section>
{% endfor %}